<ng-container *ngIf="player$ | async as player">
  <div class="flex flex-row items-center p-3 gap-3">
    <fa-icon
      [icon]="(player.isPlaying$ | async) ? faPause : faPlay"
      class="cursor-pointer"
      (click)="togglePlay()"
    ></fa-icon>
    <app-seek-bar
      *ngIf="player.state$ | async as state"
      [value]="state.position / state.duration"
      (valueChange)="seek($event)"
      class="flex-grow"
    ></app-seek-bar>
    <div #delay></div>
  </div>
  <ng-container *ngIf="analysis$ | async as analysis">
    <div class="flex flex-row gap-3 p-3 items-center text-xs">
      <div class="flex flex-row gap-1 items-center">
        <fa-icon
          [icon]="faInfoCircle"
          class="text-sm opacity-50"
          title="Duration in milliseconds of the visible content in the viewport."
        ></fa-icon>
        viewportMs:
        <input
          class="bg-gray-800 px-2 py-1 rounded text-xs w-16"
          type="number"
          [(ngModel)]="track.viewportTimeMs"
          (ngModelChange)="track.removeFrames()"
        />
      </div>
      <div class="flex flex-row gap-1 items-center">
        <fa-icon
          [icon]="faInfoCircle"
          class="text-sm opacity-50"
          title="Offset in milliseconds where your input will still count."
        ></fa-icon>
        thresholdMs:
        <input
          class="bg-gray-800 px-2 py-1 rounded text-xs w-16"
          type="number"
          [(ngModel)]="track.inputThresholdMs"
        />
      </div>
      <div class="flex flex-row gap-1 items-center">
        <fa-icon
          [icon]="faInfoCircle"
          class="text-sm opacity-50"
          title="Enabled/disables editing of charts."
        ></fa-icon>
        editMode:
        <input
          class="bg-gray-800 px-2 py-1 rounded text-xs"
          type="checkbox"
          [(ngModel)]="track.isEditMode"
          (ngModelChange)="track.removeFrames()"
        />
      </div>
      <div class="flex flex-row gap-1 items-center">
        <fa-icon
          [icon]="faInfoCircle"
          class="text-sm opacity-50"
          title="Determines editable divisions of a beat."
        ></fa-icon>
        notesBetweenBeats:
        <input
          class="bg-gray-800 px-2 py-1 rounded text-xs w-16"
          type="number"
          [(ngModel)]="track.notesBetweenBeats"
          (ngModelChange)="track.removeFrames()"
          [min]="0"
        />
      </div>
      <button
        class="
          ml-auto
          bg-gray-700
          hover:bg-gray-600
          px-2
          py-1
          rounded
          shadow-sm
          transition-all
        "
        (click)="track.removeFrames()"
      >
        repaint
      </button>
    </div>
    <app-track
      #track
      [player]="player"
      [analysis]="analysis"
      (delayMs)="delay.innerHTML = $event.toFixed(0).toString()"
    ></app-track>
  </ng-container>
</ng-container>
